.single-product {
  border-bottom: 1px solid lightgray;
  margin-right: -10px;
  padding: 10px;
  display: flex;
}

.single-product:last-of-type {
  border-bottom: none;
}

.single-product .product-image {
  padding: 10px;
}

.single-product .product-image:hover {
  cursor: pointer;
}

.price {
  font-size: 20px;
}

.single-product:hover .product-info h3 {
  color: darkorange;
}

.single-product .product-info h3:hover {
  cursor: pointer;
}